<?xml version="1.0" encoding="UTF-8"?>
<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#">
    <Catalog.ResourceDescription>
        <Vendor>CoNWeT</Vendor>
        <Name>issue-list</Name>
        <DisplayName>Issue List</DisplayName>
        <Author>sblanco</Author>
        <Version>2.3.2</Version>
        <Mail>sblanco@conwet.com</Mail>
        <Description>This widget shows all the Issues coming from a Service. This widget shows a table including information such as Sensor ID, assigned technician ID, and the issue type.</Description>
        <ImageURI>images/catalogue.png</ImageURI>
        <iPhoneImageURI></iPhoneImageURI>
        <WikiURI>http://conwet.fi.upm.es/docs/display/wirecloud/Issues+List</WikiURI>
        <Requirements>
            <Feature name="NGSI"/>
        </Requirements>
    </Catalog.ResourceDescription>

    <Platform.Preferences>
        <Preference name="ngsi_server" type="text" description="NGSI Server where the lamp post info is located" label="NGSI Server"  default="http://130.206.82.140:1026/"/>
    </Platform.Preferences>

    <Platform.Wiring>
        <InputEndpoint
            friendcode="issue"
            label="Add issue"
            description="Issue to list in the table."
            name="inputIssue"
            type="text"/>
        <InputEndpoint
            friendcode="vCard"
            label="Add profile"
            description="Profile of technician. A technician can be assigned to an issue"
            name="inputVcard"
            type="text"/>
        <InputEndpoint
            friendcode="issue"
            label="Select Issue"
            description="The received issue is highlighted."
            name="inputSelectIssue"
            type="text"/>
        <OutputEndpoint
            friendcode="issue"
            label="Select Issue"
            description="Selected issue is sent when you click in the table row."
            name="outputIssue"
            type="text"/>
        <OutputEndpoint
            friendcode="vCard"
            label="Change Technician"
            description="Raised when a technician is selected. This doesn't mean the Technician was assigned to an issue."
            name="outputTechnicianVCard"
            type="text"/>
        <OutputEndpoint
            friendcode="route"
            label="Selected Route"
            description="Route from technician to issue."
            name="outputRoute"
            type="text"/>
        <OutputEndpoint
            friendcode="issue"
            label="Pick Photo"
            description="Sends a event when the user clicks on the photo icon of an issue"
            name="outputPhotoURL"
            type="text"/>
    </Platform.Wiring>

    <Platform.Link>
        <XHTML href="index.html" contenttype="text/html" cacheable="true" use-platform-style="true"/>
    </Platform.Link>

    <Platform.Rendering width="10" height="20"/>
</Template>
