<?xml version="1.0" encoding="UTF-8"?>
<rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:usdl-core="http://www.linked-usdl.org/ns/usdl-core#"
    xmlns:foaf="http://xmlns.com/foaf/0.1/"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
    xmlns:dcterms="http://purl.org/dc/terms/"
    xmlns:skos="http://www.w3.org/2004/02/skos/core#"
    xmlns:wire="http://wirecloud.conwet.fi.upm.es/ns/widget#"
    xmlns:vCard = "http://www.w3.org/2006/vcard/ns#"
    xmlns:gr="http://purl.org/goodrelations/v1#">

    <wire:Operator rdf:about="http://wirecloud.com/test">
        <dcterms:title>entity-service</dcterms:title>
        <wire:displayName>Entity Service</wire:displayName>
        <dcterms:description>This operator permits us gather information about several entities from any NGSI service.</dcterms:description>
        <dcterms:creator rdf:resource="http://creatoruri/"/>
        <usdl-core:versionInfo>2.3.2</usdl-core:versionInfo>
        <wire:hasImageUri rdf:resource="images/catalogue.png"/>
        <usdl-core:utilizedResource rdf:resource="js/main.js"/>
        <foaf:page rdf:resource="http://conwet.fi.upm.es/docs/display/wirecloud"/>
        <usdl-core:hasProvider rdf:resource="http://vendoruri/"/>

        <vCard:addr>
            <vCard:Work>
                <vCard:email>sblanco@conwet.com</vCard:email>
            </vCard:Work>
        </vCard:addr>

        <wire:hasRequirement>
            <wire:Feature rdf:nodeID="N3470abb159864542b08cadb3616c062d">
                <rdfs:label>NGSI</rdfs:label>
            </wire:Feature>
        </wire:hasRequirement>

        <wire:hasPlatformPreference>
            <wire:PlatformPreference rdf:ID="preference_1">
                <dcterms:title>ngsi_server</dcterms:title>
                <wire:type>text</wire:type>
                <dcterms:description>URL of the PubSub Context Broker where the entities are going to be created</dcterms:description>
                <rdfs:label>NGSI server URL</rdfs:label>
                <wire:default>http://130.206.82.140:1026/</wire:default>
            </wire:PlatformPreference>
        </wire:hasPlatformPreference>
        <wire:hasPlatformPreference>
            <wire:PlatformPreference rdf:ID="preference_2">
                <dcterms:title>ngsi_proxy</dcterms:title>
                <wire:type>text</wire:type>
                <dcterms:description>URL of the PubSub Context Broker proxy</dcterms:description>
                <rdfs:label>NGSI proxy URL</rdfs:label>
                <wire:default>http://wirecloud.ld.testbed.fi-ware.eu:3000/</wire:default>
            </wire:PlatformPreference>
        </wire:hasPlatformPreference>
        <wire:hasPlatformPreference>
            <wire:PlatformPreference rdf:ID="preference_3">
                <dcterms:title>entity_type</dcterms:title>
                <wire:type>text</wire:type>
                <dcterms:description>Entity type to find in the NGSI service</dcterms:description>
                <rdfs:label>Entity type</rdfs:label>
                <wire:default>Sensor</wire:default>
            </wire:PlatformPreference>
        </wire:hasPlatformPreference>

        <wire:hasPlatformWiring>
            <wire:PlatformWiring rdf:ID="wiring">
                <wire:hasInputEndpoint>
                    <wire:InputEndpoint rdf:ID="event_1">
                        <dcterms:title>issueInput</dcterms:title>
                        <dcterms:description>Received issues will be added to their entity.</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>Add issue</rdfs:label>
                        <wire:friendcode>issue</wire:friendcode>
                    </wire:InputEndpoint>
                </wire:hasInputEndpoint>
                <wire:hasOutputEndpoint>
                    <wire:OutputEndpoint rdf:ID="event_2">
                        <dcterms:title>entityOutput</dcterms:title>
                        <dcterms:description>Every change over each entity fires an event</dcterms:description>
                        <wire:type>text</wire:type>
                        <rdfs:label>Provide entity</rdfs:label>
                        <wire:friendcode>entity</wire:friendcode>
                    </wire:OutputEndpoint>
                </wire:hasOutputEndpoint>
            </wire:PlatformWiring>
        </wire:hasPlatformWiring>
    </wire:Operator>

    <foaf:Person rdf:about="http://creatoruri/">
        <foaf:name>sblanco</foaf:name>
    </foaf:Person>

    <gr:BusinessEntity rdf:about="http://vendoruri/">
        <foaf:name>CoNWeT</foaf:name>
    </gr:BusinessEntity>

    <foaf:Image rdf:about="images/catalogue.png">
        <dcterms:title>ImageURI</dcterms:title>
    </foaf:Image>

    <usdl-core:Resource rdf:about="js/main.js">
        <wire:index>0</wire:index>
    </usdl-core:Resource>
</rdf:RDF>
