* {
    margin: 0;
    padding: 0;
}

.cell.severity > .label {
    width:100%;
    text-align:center;
}

.cell.photo {
    text-align: center;
}

.cell.technician .styled_select {
    width:100%;
    margin:0;
}

#messageContainer{
    margin-top:36px;
    position:absolute;
}
