<?xml version="1.0" encoding="UTF-8"?>
<Template xmlns="http://wirecloud.conwet.fi.upm.es/ns/template#">
    <Catalog.ResourceDescription>
        <Vendor>CoNWeT</Vendor>
        <Name>issue-reporter</Name>
        <DisplayName>Issue Reporter</DisplayName>
        <Author>aarranz</Author>
        <Version>2.3.2</Version>
        <Mail>aarranz@conwet.com</Mail>
        <Description>Upload a photo from an Issue</Description>
        <ImageURI>images/catalogue.png</ImageURI>
        <iPhoneImageURI>images/smartphone.png</iPhoneImageURI>
        <WikiURI></WikiURI>

        <Requirements>
            <Feature name="ObjectStorage"/>
            <Feature name="NGSI"/>
        </Requirements>

    </Catalog.ResourceDescription>

    <Platform.Preferences>
        <Preference name="ngsi_server" type="text" description="NGSI Server where the lamp post info is located" label="NGSI Server" default="http://130.206.82.140:1026/" />
        <Preference name="objectstorage_server" type="text" description="Object Storage server where images should be uploaded" label="Object Storage Server" default="http://130.206.80.102:8080/v1/AUTH_86ca53b6d21b4cfe98a4e0c49e2931af/" />
        <Preference name="objectstorage_project" type="text" description="Object Storage project" label="Object Storage project" default="" />
        <Preference name="objectstorage_user" type="text" description="Object Storage user" label="Object Storage user" default="" />
        <Preference name="objectstorage_pass" type="password" description="Object Storage pass" label="Object Storage pass" default="" />
        <Preference name="objectstorage_tenant_id" type="text" description="Object Storage tenant ID" label="Object Storage tenant ID" default="86ca53b6d21b4cfe98a4e0c49e2931af" />
        <Preference name="objectstorage_token_url" type="text" description="Object Storage token URL" label="Object Storage token URL" default="http://130.206.80.100:5000/v2.0/tokens" />
        <Preference name="objectstorage_container" type="text" description="Object Storage Container where images should be uploaded" label="Object Storage Container" default="IssueImages" />
    </Platform.Preferences>

    <Platform.Link>
        <XHTML href="index.html" contenttype="text/html" cacheable="true" use-platform-style="true"/>
    </Platform.Link>

    <Platform.Rendering width="5" height="20"/>
</Template>
